<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Fictaverse</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <script>
  if(!String.prototype.trim) {
	  String.prototype.trim = function () {
	    return this.replace(/^\s+|\s+$/g,'');
	  };
	}
  
  String.prototype.capitalize = function() {
	return this.charAt(0).toUpperCase() + this.slice(1);
  }
  </script>
</head>
<body>