<div id="sideNavigation">
	<ul>
		<% kinds.forEach(function(kind) { %>
		<li id="<%= kind[1] %>Nav" class="sideNavSection">
			<a href="#">
				<%= kind[0] %>
			</a>
			<div id="<%= kind[1] %>Contents" class="subNav">
				<ul>
					<li><a id="<%= kind[1] %>Add" href="#">Add <%= kind[1] %></a></li>
				</ul>
			</div>
			<script>
			$("#<%= kind[1] %>Nav").click(function() {
				hideAllSubNavs("<%= kind[1] %>");
			});
			$("#<%= kind[1] %>Add").click(function() {
				$.get("add/<%= kind[1] %>", function(html) {
					replaceEditContents(html);
				});
			});
			</script>
		</li>
		<% }) %>
	</ul>
</div>
<script>
$(function() {
	hideAllSubNavs("<%= session.activeKind %>");
});

hideAllSubNavs = function(except) {
	$(".subNav").hide("blind");
	if (except) {
		$.getJSON("list/" + except, function(data) {
			$("#" +except+ "Contents ul li.fobject").remove();
			$(data).each(function(index) {
				var link = "<li class='fobject' fobjectId='" +this.id+ "'><a href='#'>" +this.name+ "</a></li>";
				$("#" +except+ "Contents ul").append(link);
			});
			$("#" +except+ "Contents ul li.fobject").click(function() {
				$.get("edit/" +except+ "/" + $(this).attr("fobjectId"), function(html) {
					replaceEditContents(html);
				});
			});
			$("#" + except + "Contents").show("blind");
		});
	}
}

replaceEditContents = function(html) {
	$("#editContainer").html(html);
}
</script>