<script>
function NavCtrl($scope, $http) {
	$scope.kindList = <%- JSON.stringify(kinds) %>;
	
	$scope.rebuildKinds = function(activeKind) {
		$scope.kinds = [];
		$scope.data = [];
		$($scope.kindList).each(function() {
			var active = (this[1] == activeKind);
			var kind = {
				displayName: this[0],
				name: this[1],
				active: active
			};
			if (active) {
				$http.get("list/" + kind.name).success(function(data) {
					$scope.data = data;
				});
			}
			$scope.kinds.push(kind);
		});
	}
	
	$scope.selectKind = function(kind) {
		$scope.rebuildKinds(kind.name);
	}
	
	$scope.addKind = function(kind) {
		$http.get("add/" + kind.name).success(function(html) {
			$("#editContainer").html(html);
			angular.bootstrap($("#editContainer"));
		});
	}
	
	$scope.editKind = function(obj) {
		$http.get("edit/" + obj.kind + "/" + obj.id).success(function(html) {
			$("#editContainer").html(html);
			angular.bootstrap($("#editContainer"));
		});
	}
	
	$scope.rebuildKinds("<%= session.activeKind %>");
}
</script>

<div id="sideNavigation" ng-controller="NavCtrl">
	<ul>
		<li ng-repeat="kind in kinds" class="sideNavSection">
			<a href="#" ng-click="selectKind(this.kind)">{{ kind.displayName }}</a>
			<div id="{{ kind.name }}Contents" class="subNav active-{{ kind.active }}">
				<ul>
					<li><a id="{{ kind.name }}Add" href="#" ng-click="addKind(this.kind)">Add {{ kind.name }}</a></li>
					<li ng-repeat="obj in data">
						<a href='#' ng-click="editKind(this.obj)">{{ obj.name }}</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>