body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #eee;
}

img, a:link img, a:visited img, a:hover img, a:active img {
	text-decoration: none !important;
	border: none !important;
}

.active-true {
	display: block;
}

.active-false {
	display: none;
}

.multi-item-section {
	width: 500px;
}

#worldHeader {
	font-size: 24px;
	width: 100%;
}

#mainContainer {
	padding-top: 25px;
	padding-left: 50px;
	width: 100%;
	height: 100%;
}

#navigationContainer {
	width: 400px;
	float: left;
	height: 400px;
}

#editContainer {
	height: 400px;
	float: left;
	padding-top: 25px;
}

#editHeader {
	font-size: 24px;
}

#logoutButton {
	padding-top: 25px;
	padding-right: 50px;
	float: right;
}